<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kacper Adamczyk - Java Developer & Portfolio Projektów</title>
    <meta name="description" content="Portfolio Kacpra Adamczyka. Zobacz moje projekty w Spring Boot, Java i technologiach webowych.">
    <link rel="stylesheet" th:href="@{/css/home.css(v=1.2)}">
    <link rel="stylesheet" th:href="@{/css/projects.css(v=1.2)}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>

<nav class="navbar">
    <div class="nav-left">
        <ul class="nav-links">
            <img class="img" th:src="@{/logo.png}" alt="Logo">
            <a th:href="@{/#projects}" class="button">Projects</a>
            <a th:href="@{/#extras}" class="button">Extras</a>
            <a th:href="@{/#media}" class="button">Media</a>
        </ul>
    </div>

    <div class="nav-right">
        <ul class="nav-links">
           <a th:href="@{/#contact}" class="button">Contact</a>
        </ul>
    </div>
</nav>

<header class="me">
    <div class="container">
        <img th:src="@{/me.jpg}" alt="To ja">
        <div class="wave-container">
            <h2 class="wave-text" aria-label="Hey, I'm Kacper Adamczyk">
                <p class="letter-animation">
                    <span>H</span><span>e</span><span>y</span><span>,</span><span>&nbsp;</span>
                    <span>I</span><span>'</span><span>m</span><span>&nbsp;</span>
                    <span>K</span><span>a</span><span>c</span><span>p</span><span>e</span><span>r</span><span>&nbsp;</span>
                    <span>A</span><span>d</span><span>a</span><span>m</span><span>c</span><span>z</span><span>y</span><span>k</span><span>.</span>
                </p>
            </h2>
        </div>
    </div>
</header>

<h2 class="header_2">My Projects</h2>
<section id="projects" class="my_projects">
    <th:block th:each="project : ${projects}">
        <th:block th:replace="~{fragments :: card(${project})}"></th:block>
    </th:block>
</section>

<section class="see-projects">
    <a th:href="@{/projects}" class="button">Zobacz wszystkie projekty →</a>
</section>

</body>
</html>