
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="stylesheet" th:href="@{/projects.css}"/>
</head>
<body>
<a th:href = "@{/}" th:text = "'Home'" class="btn">Home</a>
<ul>
    <th:block th:each="project : ${projects}">
        <div th:replace="~{fragments :: card(${project})}"></div>
    </th:block>
</ul>
</body>