* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px; /* Robi miejsce na fixed navbar (80px + 20px luzu) */
    background-color: #7B68EE;
    font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 80px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0; /* Ważne przy position fixed */
    z-index: 1000;
    justify-content: space-between;
    padding: 0 5rem;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #007bff;
}

/* LOGO */
.logo {
    height: 80px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px; /* Trochę mniejszy niż pasek */
    border-radius: 20%;
    cursor: pointer;
}

/* SECTION ME */
.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    text-align: center;
    color: whitesmoke;
}

.me p {
    max-width: 600px;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: whitesmoke;
}

/* PROJECTS GRID */
.my_projects {
    display: flex;
    flex-wrap: wrap; /* Pozwala projektom spadać do nowej linii na telefonie */
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

/* BUTTON */
.see-projects {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.btn {
    background-color: #1a1a1a;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #000;
    transform: scale(1.05);
}

.me .container img {
    width: 18rem;
    height: 18rem;

    border-radius: 50%;
    border: 5px solid white;

    box-shadow: 0 15px 15px rgba(0,0,0,0.2);

    object-fit: cover;

    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.me .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}