/* Resetowanie marginesów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ustawienia dla całej sekcji nawigacji */
.navbar {
    width: 100%;
    height: 80px;      /* Tutaj ustalasz wysokość paska */
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    position: fixed;   /* Pasek zawsze na górze */
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* Stylizacja listy linków */
.nav-links {
    width: 100%;
    height: 100%;      /* Dziedziczy 80px z .navbar */
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem; /* Rozmieszcza logo i linki równomiernie */
    justify-content: space-evenly;
}

/* Stylizacja linków tekstowych */
.nav-links li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.3s;
}

/* 1. Upewnij się, że div logo wypełnia wysokość listy */
.logo {
    height: 100%;
    display: flex;
    align-items: center; /* Wyśrodkuje obrazek w pionie */
}

/* 2. To jest kluczowe - obrazek musi mieć 100% wysokości kontenera .logo */
.logo img {
    height: 100%;     /* Obrazek rośnie do 80px (wysokość navbaru) */
    width: 100%;       /* Szerokość dopasuje się sama, żeby nie było "rozciągnięte" */
    padding: 10px 0;   /* Dzięki temu obrazek nie dotyka krawędzi paska */
    display: block;
    border-radius: 20%;
    cursor: pointer;
}
.nav-links li a:hover {
    color: #007bff;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 80px;
}

